.example-spacer {
  flex: 1 1 auto;
}
.example-full-width {
  width: 50%;
  max-width: 200px;
}
.mySearch{
  position: relative;
  left: -5px;
  top: 9px;
}
ng-form{
  margin-left: 20px;
  width: 100%;
}
/*
img{
  max-height: 150px;
  max-width: 90%;
  margin: 0 auto;
}*/

mat-card{
  padding: 10px;
  width: 90%;
}

mat-card-content{
  margin-top: 15px;
}
